<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wishlist_account.name %>
</p>

<p>
  <strong>Goal Amount:</strong>
  <%= @wishlist_account.goal_amount %>
</p>

<%= link_to 'Edit', edit_wishlist_account_path(@wishlist_account) %> |
<%= link_to 'Back', wishlist_accounts_path %>
