<!DOCTYPE html>
<html>
  <head>
    <title>SavingsManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row main-link">        
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Chart of Accounts', chart_of_accounts_path %> |
        <%= link_to 'Deposit', "#" %> |
        <%= link_to 'Withdrawal', "#"%>
      </div>
      <div class="row">
        <%= yield %>        
      </div>
    </div>
  </body>
</html>
